.container {
  margin: 75px;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-auto-columns: repeat(3, 1fr) 200px;
  grid-template-areas: "header header header header"
                       "item item item side"
                       "main main main side"
                       "foot foot foot foot";
  grid-gap: 30px;
}

.item {
  padding: 30px;
  background-color: grey;
  color: white;
  font-size: 30px;
}

.header {
  grid-area: header;
}

.side-nav {
  grid-area: side;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: foot;
}
